body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

/* if the first font in the list of fonts is unavailable in the user's browser, it will try to render the next one and so on until
it reaches one that is available (if any). 


*/

p {
  font-size: 20px; /* sets the font size to */
  font-size: 20%; /* sets a font size relative to parent element using a percentage */
  font-size: 1.5 em; /* sets a font size relative to parent element using a multiplier */
  font-size: 1.5rem; /* sets a font size relative to the root element (html) using a multiplier */
}
